# Python Crash Course

This crash course aims to get you up-to-speed on the following topics:
1. Operators and variables
2. Functions and control structures
3. Built-in data structures
4. Advanced constructs
5. NumPy

## Quick note on Jupyter notebook

This document is a Jupyter notebook. A Jupyter notebook consists of cells. A cell can be **text** or **code**. **Text cells** contain instruction text while **code cells** contain Python codes.

The text that you are reading right now exists in a text cell. To edit a text cell, double-click on the cell. To finish the editing, press `Shift`+`Enter`.

A code cell, on the other hand, is like the following:

In [ ]:
print('Hello World')

You can run a code cell by first clicking on the cell and then pressing the run button in the icon bar: ![run button]() or by pressing `Shift`+`Enter`.

The output of a code cell is displayed right below the cell. (The return value of the last line of code is shown by default, without any explicit call to `print`.)

_If your computer has a touch-capable screen, additional run buttons will be displayed at the left side of every code cell:_ ![run button]()

If a cell takes too long to run and you want to stop it, use the stop button in the icon bar: ![stop button]()

To create a new cell, use the `+` button in the icon bar: ![menubar pic]().


To delete a cell, use `Delete Cells` from the `Edit` menu item: ![menubar pic]()

To change the type of a cell between **code** and **text**, use the menubar item as shown. Note that a `Markdown` cell is a text cell. (Ignore the `Raw NBConvert` and `Heading` cells for now):
![menubar pic]()

In some situations, we might want to run a line of DOS or UNIX shell command from within a Jupyter notebook. For example, to install a missing Python module, or to create a new directory. This can be done by placing a bang (`!`) character before the command to execute, like in the following:

In [ ]:
!pip --version

Once you become comfortable with navigating Jupyter notebooks, you might want to speed up your work by using keyboard shortcuts. Here are a few that are frequently used:

    
Shortcut | Action || Shortcut | Action ||Shortcut | Action 
:--|:--||:--|:--||:--|:--
`Esc`-`b` | Add cell below current cell ||`Esc`-`r` | Change cell to (non-executable) code ||`Ctrl`+`s` | Save file  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
`Esc`-`a` | Add cell above current cell ||`Esc`-`h`| Show keyboard shortcuts|| `Ctrl`+`z` | Undo action
`Esc`-`m` | Change cell to Markdown || `Esc`-`dd` | Delete current cell ||`Ctrl`+`y` | Redo action
`Esc`-`y` | Change cell to (executable) code||`Esc`-`z` | Undo delete cell || `Ctrl`+`Shift`+`-` | Split cell at cursor

# Section 1: Operators and variables

This section will quickly show how variables are handled in Pyhon.

## Arithmetic operators
The Python interpreter can be used to evaluate expressions, for example simple arithmetic expressions. When you run the following cell, the return value of the expression `1+1` is shown as output of the cell, without any explicit call to `print`.

In [ ]:
# This is a comment
1 + 1   # addition operation

In [ ]:
2 * 3   # multiplication operaiton

In [ ]:
11 / 3  # Normal division

In [ ]:
11 // 3 # integer division

In [ ]:
11 % 3  # modulus operation

In [ ]:
2 ** 3  # exponent operation

A Boolean expression evaluates to the primitive `True` and `False` values.

In [ ]:
1 == 0  # Boolean expression

To negate a Boolean expression, use the operator `not`. The negation operator `!` is not used in Python except as part of the `!=` operator.

In [ ]:
not (1 == 0)

Compound Boolean expressions can be formed using the Boolean operators `and` and `or`. The Boolean operators `&&` and `||`, used in many languages such as C and Java, are not used in Python.

In [ ]:
(2 == 2) and (2 == 3)

In [ ]:
(2 == 2) or (2 == 3)

Bitwise operators `&` and `|` works just like in other languages.

In [ ]:
1 & 2 & 4    # in binary this becomes "1" and "10" and "100", hence results in 0

In [ ]:
1 | 2 | 4    # in binary this becomes "1" or "10" or "100", hence results in "111" = 7

In [ ]:
(2 == 2) & (2 == 3)  # bitwise operator works on Boolean values

In [ ]:
(2 == 2) | (2 == 3)  # bitwise operator works on Boolean values

## Variables

In Python:

- A variable needs not be declared, but must be created before it can be used. 

- The type of a variable is automatically determined based on the value assigned.

- In Jupyter notebook, the variables created by running a code cell is immediately available in other code cells.

In [ ]:
s = 'hello world'   # defining a variable
print(s)
type(s)

In the above code, we used `type` to display the type of `s`. Since 'hello world' is a string, the variable `s` is of type `string` (indicated as `str`). 

Note that we explicitly called `print` in order to display the content of `s`. However, there is no need to call `print` to display `type(s)` since it is on the last line of code in the cell.

In [ ]:
fval = 7.3   # this will create a floating point variable
print(fval)
print(type(fval))

In [ ]:
ival = 12    # this will create an integer variable
print(ival)
print(type(ival))

In [ ]:
fval += 2.5  # add 2.5 to fval
print(fval)

In [ ]:
ival += 3  # add 3 to ival
ival

Remember that you cannot use a variable that you have not created. The following command will generate a `NameError`  because `var` has not been created.

In [ ]:
print(var)   # we have not defined a variable called var! This will generate an error!

## Importing libraries (modules)
One reason for the popularity of Python is the large number of libraries, called **modules**, available for the language. 

To use a module, use the keyword `import`.

The following codes import the math module, which enables you to use mathematical functions such as $\pi$, sine, logarithm, etc.

In [ ]:
import math

In [ ]:
print ('The sin of 90 degrees is', math.sin(math.pi/2))

In [ ]:
print ('log of 100 is ', math.log10(100))

If we are only interested in a particular function (or class) from a module, for example, if we only need the function `sqrt` from the `math` module, we may write the following:

In [ ]:
from math import sqrt    # import only the sqrt method from math
sqrt(2)                  # there is no need to write math.sqrt()

## The `string` class

Like C++ and Java, Python has a built in string type. A `string` object can be defined with either a single quote (`'`)  or double quote (`"`).

In [ ]:
s = 'hot'

In [ ]:
s = s + 'dog' # or s += 'dog'

In [ ]:
s             # display the value of the string object s

Python is object-oriented. Like other object-oriented languages, an object is associated with its class functions.

Since Jupyter supports code completion, you can see the list of functions provided by a class by creating a variable of the class and then pressing `TAB` after the variable name.

As an example, click on the cell below and place your cursor at the end of `s` and type `TAB`.
A menu will appear showing the list of functions for the class. (You may have to wait a few seconds for the menu to appear.)

Choose `capitalize`, add `()` at the end of the method name, and execute the cell.

In [ ]:
s = 'HELP'
s.

To get the length of a string, you can use the `len` command. _(The `len` function is also used to retrive the length of lists, an important data structure which we will introduce later.)_

In [ ]:
len('Help')

You can use `split` to tokenize a string with a given delimiter.

In [ ]:
'My hovercraft is full of eels'.split(' ')  # splits the sentence with the space character

You will notice that `split` returned a _list_ of words. We will talk about the _list_ data structure later.

The `string` class provides many methods that are commonly found in other languages such as Java. For example, there is a method called `startswith` that examines if a string starts with some prefix.

In [ ]:
s = 'help'
s.upper().startswith('HE')   # checks if s, after converted to uppercase, starts with 'HE'

You can also use the command `help` to get help on commands.

In [ ]:
help(s.find)

## Printing to screen

The standard way for showing output messages is through the function `print`.

In [ ]:
a = 3
print('There are', a, 'people in the meeting')

You can format a string `s` with its `format` method before printing.

The method is written in the form `s.format(x, ...)`, where the string `s` contains curly braces `{}` as placeholders to be replaced with the values in `x, ...`. The number of braces in `s` must match the number of values. 

In the following example, the first braces `{}` would be replaced by `x` and the second by `y`.

In [ ]:
x = 5
y = 10
print('The value of x is {} and y is {}'.format(x, y))

Formatting of integer values can be done as in the following example, where
* `d` specifies that the placedholder is to be replaced by an *integer*. 
* `6` specifies that a total of 6 characters would be allocated to print out the integer.

In [ ]:
print('Integer value is {:d}.'.format(23))
print('Integer value is {:6d}.'.format(23))

Formatting of floating point values can be done as in the following example, where
* `f`  specifies that the placedholder is to be replaced by an *real number*. 
* `6` specifies that a total of 6 characters would be allocated to print out the number. 
* `.2` specifies that the real number will be displayed up to two decimal places
* `0` specifies that if the number of characters is less than the number of allocated characters (6 in our case), the empty spaces should be replaced with 0.

In [ ]:
print('The float value is {:f}'.format(3.141592653589793))
print('The float value is {:06.2f}'.format(3.141592653589793))
print('The float value is {:6.2f}'.format(3.141592653589793))

# Section 2: Functions and control structures

This section will show how functions and loops are written in Python.

## Functions
Python functions are defined similar to other languages such as C and Java. **However, blocks of codes in Python are organized by how they are indented.** 

While in languages such as C/C++, Java, JavaScript, C#, Perl, and R, codes are placed within curly brackets (`{}`) to form a block,
in Python, codes are considered to be in the same block if they are indented by the same amount of space from the left (unless broken by a higher level block). The figure below gives a simple, easy-to-understand example.

![indentation figure]()

These indentations can be written with spaces or tabs, but the same spaces/tabs must be consistently used for all the codes in the same block.

IMPORTANT: Unlike in other languages such as C++ or Java, **statements in Python do not end in `;`**. This is a very common source of errors for beginners.

In [ ]:
# correct way of defining a function
def square(num):  
    "Returns the square of a number"
    result = num**2
    return result

IMPORTANT: **Be careful not to leave out the** `:` **character in function definition**. This is a very common source of error for beginners.

Now that we have defined our function `square`, we can make use of the function to square some numbers.

In [ ]:
x = square(2)
print("{0} times {0} equals {1}".format(2, x))
print("{0} times {0} equals {1}".format(2.5, square(2.5)))

The following codes would result in an `IndentationError` since Python does not use curly bracket to define the code block.

In [ ]:
# this will not work. 

def square(num):
{
   result = num**2
   return result
}

The following codes would result in an `IndentationError` as well.

In [ ]:
# This will NOT work.

def square(num):
    result = num**2
return result

### Functions returning more than one variable

Different from most languages, Python functions are allowed to return more than one variable.

In [ ]:
def get_quotient_and_remainder(n, m):
    "Returns quotient (n//m) and remainder (n%m)"
    q = n // m
    r = n % m
    return q, r

q, r = get_quotient_and_remainder(10, 3)
print(q, r)

Variables returned from a function can be selectively ignored, like in the following.

In [ ]:
q, _ = get_quotient_and_remainder(10, 3)   # ignore the remainder
print(q)

### Function parameter passing
Same as with other languages, in Python, objects are **passed by reference**, while primitive variables such as `integer`, `double` and `float` as well as `string` are **passed by value**. For example, in the following code, changes to parameters `intval` and `strval` in `func` will not affect the two original variables.

In [ ]:
def func(intval, strval):
    intval = 100
    strval = "Modified string value"
    print ("Within function call: numval = {}, strval = {}".format(intval, strval))
    
intval  = 0
strval = "Original string value"

print ("Main (before calling func): numval = {}, strval = {}".format(intval, strval))
func(intval, strval)
print ("Main (after calling func): numval = {}, strval = {}".format(intval, strval))

### Function default arguments

Python allows the setting of default arguments in the list of input parameters -- these values will be used when the caller does not specify the values for these parameters.

We show this with the following function, which also uses an `if` statement. In Python, an `if` statement must end with the `:` character, and the entire block of codes to be executed must be indented further to the right.

In [ ]:
def square(num, rounding=False):
    result = num**2
    if rounding:
        result = int(result)
    return result

print(square(2.5))
print(square(2.5, rounding=True))
print(square(2.5, True))

## Conditional operators

Python uses the conditional operators, `if`, `elif`, `else`, for conditional statements. The syntax is shown in the following codes.

In [ ]:
from random import random

if random() > .5 and random() > .5:   # two consecutive events each of 0.5 probability
    print('This line gets printed 1/4 of the time')
else:
    print('This line gets printed 3/4 of the time')

In [ ]:
from random import random

if random() > .5 or random() > .5:   # either first or second event each of 0.5 probability
    print('This line gets printed 3/4 of the time')
else:
    print('This line gets printed 1/4 of the time')

Unlike some other programming languages, there is no `switch-case` operator in Python.

## Loops

Loops in Python are written with `for` and `while`. Same as with conditional statements, indentation is used to define the scope for loops.

The following example show how to use the `for` loop to **iterate through a list of integers** and strings.

In [ ]:
for num in [1, 2, 3, 4, 5]:            # Loop through [1, 2, 3, 4, 5]
    print(num)
    
for name in ['lessie', 'joe', 'bob']:  # Loop through ['lessie', 'joe', 'bob']
    print(name)

The list of integers `[1, 2, 3, 4, 5]` is specified using a data structure called _list_. _Lists will be studied in more detail later._

A `while` loop, on the other hand, evaluates a Boolean expression as control statement.

In [ ]:
num = 1
while num <= 5:
    print(num)
    num += 1

### The `range` iterable object

It is common practice in Python to use the function `range(end)` to generate an iterable sequence of integers starting from 0 up to `end-1` for use in a loop.

In [ ]:
for num in range(5):   # for each loop set num to a value from 0 to 4
    print(num)

To start from something other than zero, use `range(start, end)`, which begin instead from `start`. Here, `start` can be a negative value.

In [ ]:
for num in range(-3, 3):  # for each loop set num to a value from -3 to 2
    print(num)

You can use the function `range(start, end, skip)` to generate an iterable sequence of integers starting from `start` up to `end-1` with a resolution of `skip` .

In [ ]:
for num in range(10, 26, 5):  # for each loop set num from 10 to 25, with 5 increment
    print(num)

# Section 3: Built-in data structures

Python comes equipped with some useful built-in data structures. They include
* List
* Tuple
* Set
* Dictionary

## List

List is the simplest, most flexible, and arguably the most frequently used data structure in Python. It stores a sequence of mutable (changeable) items of possibly different types.

There are several ways to **create a new list**.

In [ ]:
fruits = ['apple', 'orange', 'pear']   # a list of strings
print(fruits)

numbers = [11, 12, 13, 14]             # a list of integers
print(numbers)

isHandsome = [True, False, True]       # a list of Booleans
print(isHandsome)

rojak = [11, 'hello', True, [1,2,3], ['one', 2, False]] # a list of different types of items
print(rojak)

Lists can be **created out of other data types** using the method `list`.

In [ ]:
print("All non-negative integers less than 10:", list(range(10)))  # create with a range

print("Vowels:", list('aeiou'))  # this will split up 'aeiou' into its constituent letters

To create a new list which is the **concatenation of two list**, use the `+` operator.

In [ ]:
fruits = ['apple', 'orange', 'pear']
print(fruits)

otherFruits = ['kiwi', 'strawberry']
print(otherFruits)

allFruits = fruits + otherFruits
print(allFruits)

Another common method for creating lists is through _list comprehension_, which we will introduce later.

The **length of a list** can be obtained using the `len` function.

In [ ]:
len(numbers)

### Accessing list items

Like `range`, lists are iterable objects. Hence a `for` statement will allow us to iterate through all the items in a list. Like `range`, this is a very common practice in Python for writing loops.

In [ ]:
numbers = [11, 12, 13, 14]
for x in numbers:   # this will be equivalent to "for x in range(11, 15):"
    print(x)

Lists can completely replace `range`. However `range` are sometimes preferred because, 
- `range` are immutable (and in fact, generated on-the-fly), while
- lists can be altered during the iteration, and unlike `range`, they occupy memomy.

Since lists can be altered, the following codes will lead to an infinite loop. **<font color='darkred'>(You need to press the stop button to exit the loop.)</font>**

In [ ]:
numbers = [1]
for x in numbers:
    numbers.append(1)    # keep adding an item to the end of the list

Since we just allocated a large chunk of memory to `numbers`, you might experience slower system performance. This can be fixed by deleting `numbers` (and calling the garbage collector).

The `del` operator lets us remove a variable by its name. A `NameError` error is thrown if there is no variable of the name.

In [ ]:
import gc
del numbers
gc.collect()

Items in a list can be allocated into variables. This is how functions are able to return multiple values.

In [ ]:
a, b, c = fruits
print(a)
print(b)
print(c)

Each list item can be accessed and modified through its index in the list. The following examples show the flexibility of lists.

In [ ]:
fruits[0]              # retrieve a list item

In [ ]:
fruits[0] = 'durian'   # modify a list item
fruits

In [ ]:
rojak[3]               # retrieve a list item which is another list

In [ ]:
rojak[3] = 'new item'  # modify a list item with an item of a different type
rojak

### Slice indexing

We can index multiple adjacent elements using the **slice operator** `[n:m]`. That is, `mylist[n:m]` will retrieve the elements in `mylist` from `n`, `n+1`, $...$, `m-1`. As an example, `fruits[1:3]` will give us a list containing the elements of `fruits` at position 1 to 2.  

When `n` is omitted, the slice starts from the first element; when `m` is omitted, the slices ends at the last item.

In [ ]:
print(allFruits)    # print all items

print(allFruits[0:2])  # items 0 and 1 (not including 2)
print(allFruits[:3])   # first item to item 2 (not including 3)
print(allFruits[2:])   # items 2 to last item

Python also allows **negative-indexing**, that is, the index is counted from the back of the list. For instance, `allfruits[-1]` will access the last element `'strawberry'`:

In [ ]:
print(allFruits)
allFruits[-1]        # show the last item in allFruits

The following codes combine negative indexing and slice indexing

In [ ]:
allFruits[-3:]       # start from the third last item to the end of the list

In [ ]:
allFruits[-3:-1]     # start from the third last item to the second last item of the list

### Checks if item is in list

The membership operator `in` allows us to check if an item exists in a list.

In [ ]:
print('peer' in allFruits)   # i have a peer who is banana so let's see if this can be true
print('pear' in allFruits)
print(['one', 2, False] in rojak)

Alternatively, we can use `count` to count the number of occurrences of item in list. If `count` returns a non-zero value, then the item exists in the list.

In [ ]:
print(allFruits.count('peer'))
print(allFruits.count('pear'))

### Adding items to a list

To add a single item to the end of a list, use the `append` function.

In [ ]:
allFruits.append('tomato')
allFruits

To add more than one items to a list, use the `extend` function.

In [ ]:
allFruits.extend(['cucumber', 'pumpkin', 'eggplant'])
allFruits

### Removing items from list

The function `remove` removes the first item from the list of a given value.  A `ValueError` is thrown if the item to remove does not exist in the list.

In [ ]:
print(allFruits)
allFruits.remove('cucumber')
allFruits

The standard way to remove multiple items from a list is through _list comprehension_, which will be discussed later.

### List copying

There are three ways of copying a list: 
1. Reference copy
2. Shallow copy
3. Deep copy

A reference copy is like the following:

In [ ]:
colors1 = ["red", "green"]
colors2 = colors1
print('colors1 = ', colors1)
print('colors2 = ', colors2)

The assignment operator `=` only copies the address of the source. That is, `colors2` will be *pointing to* or *referencing* the same object as `colors1`.

![referencecopy figure]()

Since they point to the same list, any change to either `color1` or `color2` would affect the other.

In [ ]:
print('Changing colors2 second element to blue')
colors2[1] = 'blue'            # changing the content of the second item in colors2

print ('colors1 = ', colors1)  # colors1 changes too because of shallow copy
print ('colors2 = ', colors2)

The method `copy` performs a shallow copy where only the content of the shallowest level are copied.

In [ ]:
list1 = ['a', 'b', ['ab', 'ba']]    # list is shallow - contains only one level
list2 = list1.copy()                # copy list
print(list1)
print(list2)

The above command results in the following structure:

![shallowcopy figure]()

From the figure, it is easy to see why changing the content of the shallow items of one array would not have affect the other array. But, any changes to non-shallow items will affect both arrays

In [ ]:
list2[1] = 'x'      # changing a shallow item in list 2  will not affect list1
list2[2][1] = 'zz'  # changing a non-shallow item in list2 will also affect list1
print(list1)
print(list2)

To copy the entire structure, we will have to use the `deepcopy` function from the module `copy`.

In [ ]:
from copy import deepcopy

list1 = ['a', 'b', ['ab', 'ba']]
list2 = deepcopy(list1)   # slice copying

In [ ]:
list2[0] = 'c'
list2[2][1] = 'd'
print('list1: ', list1)
print('list2: ', list2)

### List comparison
There are two operators for comparison in Python: `==` and `is`. 

The operator `is` checks if two variables are referencing the same list or object, while the operator `==` checks if the lists have the same content.

For *reference copy*, both `is` and `==` return `True` because they references the same list or object.

In [ ]:
a = [1, 2, 3]
b = a
print(b is a)
print(b == a)

For *shallow copy* and *deep copy*,
* `is` returns `False` because they are pointing to different lists or objects.
* `==` returns `True` because their content are the same.

In [ ]:
b = a.copy()
print(b is a)
print(b == a)

In [ ]:
from copy import deepcopy
c = deepcopy(a)
print(b is a)
print(b == a)

### Quick reference to useful functions for list

Function call | Action
:--|:--
`list.append(x)` | Add an item to the end of the list; equivalent to `a[len(a):] = [x]`
`list.extend(x)`| Extend the list by appending all the items in the given list; equivalent to `a[len(a):] = L`
`list.insert(i, x)`| Insert the item `x` at position `i`. The first argument is the index of the element before which to insert, so `a.insert(0, x)` inserts at the front of the list, and `a.insert(len(a), x)` is equivalent to `a.append(x)`
`list.remove(x)`| Remove the first item from the list whose value is `x` . Throws an error if there is no such item
`list.pop(i)`| Remove the item at the given position in the list, and return it. If no index is specified, `a.pop()` removes and returns the last item in the list
`list.index(x)`| Return the index in the list of the first item whose value is `x`. Throws an error if there is no such item
`list.count(x)`| Return the number of times `x` appears in the list
`list.reverse()`| Reverse the elements of the list, in place
`len(list)`| Returns the number of items in the sequence
`min(list)`| Returns the smallest item in the sequence
`max(list)`| Returns the biggest item in the sequence
`any(list)`| Returns `True` if there exists an item in the sequence which is `True`
`all(list)`| Returns `True` if all items in the sequence are `True`

## Tuple

A tuple is a data structure that is similar to list except that it is immutable once it is created, i.e., you cannot change its content once created. Tuples take up less memory for the same number of items compared to list. They are especially useful in writing loops as well as for constructing dictionaries.

To **create a tuple**, use a parentheses rather than a square brackets.

In [ ]:
pair = (3, 5)
print(pair)
print(pair[0])

The attempt to modify an immutable structure will result in a `TypeError`.

In [ ]:
pair[1] = 6

One common use of tuples is in adding information to list items within a loop. For example, the
`enumerate()` function generates tuples out of an input list, supplementing the list items with their positions within the list.

In [ ]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

Another common use of tuples is in pairing up the items in two (or more) lists. For example, the `zip()` function below pairs up the items in the two lists `questions` and `answers`.

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

for q, a in zip(questions, answers):
    print ('What is your {}?  It is {}.'.format(q, a))

Tuples are very important for creating `dict` objects. This will be discussed later.

## Set

A set is like a list, but with **no duplicate items**. Common set operations (difference, intersection, union) are available for the data structure.

The function `set` can create a set from lists or a `range` object.

In [ ]:
drawn_shapes = ['circle', 'square', 'triangle', 'circle']
shapes = set(drawn_shapes)         # converts a list into a set. duplicates will be removed
print(shapes)
numbers = set(range(10))           # converts a range object into a set
print(numbers)

### Adding items to a set

To add items into a set, use `add` or `update`:
- `add` is faster, but works only with a single (and hashable) item,
- `update` works with both single and multiple items. It will also works with `range`.

Adding an item that already exists in the set will not result in duplicate items.

In [ ]:
print("Adding pentagon")                # 'pentagon' will be added
shapes.add('pentagon')
print(shapes)

print("Adding circle")
shapes.add('circle')                    # 'circle' already exists
print(shapes)

print("Adding triangle")
shapes.update(['triangle', 'hexagon'])  # 'triangle' exists while 'hexagon' will be added 
print(shapes)

print("Adding range")
numbers.update(range(5, 20))            # update will also work with range
numbers

### Remove item from set

To remove an item from a set, use the `remove` function. A `KeyError` is thrown if the item to remove does not exist in the set.

In [ ]:
shapes.remove('hexagon')
shapes

### Set membership

The membership operator `in` allows us to check if an item exists in a set.

In [ ]:
if 'circle' in shapes:
    print('circle exists in shapes')
else:
    print('circle does not exist in shapes')
    
if 'rhombus' in shapes:
    print('rhombus exists in shapes')
else:
    print('rhombus does not exist in shapes')

### Set operations

The following shows how to perform intersection (`&`), union (`|`) and deletion (`-`) operation on two sets.

In [ ]:
polygons = set(['triangle', 'square', 'hexagon', 'pentagon'])
print ('shapes:   ', shapes)
print ('polygons: ', polygons)
print ()

print('shapes minus polygons:', shapes - polygons)
print('shapes intersect polygons:', shapes & polygons)
print('shapes union polygons:', shapes | polygons)

## Dictionary

The dictionary is arguably the second most commonly used data structure in Python. A dictionary stores a map from one type of object (the `key`) to another (the `value`). 
* The `key` must be of an immutable type (string, number, or tuple). 
* The `value` can be of any Python data type (objects, lists, dictionaries, etc).

There are many ways to create a dictionary. A simple method is by using the `{}` syntax.

In [ ]:
studentIds = {'joe': 10491, 'mary': 10489}
studentIds

Another way is to pass a list of tuples to the dict constructor:

In [ ]:
d1 = dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
d1


Yet another way is to pass keyword arguments to the dict constructor:

In [ ]:
d2 = dict(sape=4139, guido=4127, jack=4098)
d2

Lastly, you can use `zip` to create tuples from two separate lists -- one for keys and the other for values.

In [ ]:
namelist = ['joe', 'mary']
ids = [10491, 10489]
d3 = dict(zip(namelist, ids))
d3

The size of a dictionary can be obtained using the `len` function.

In [ ]:
len(studentIds)

### Accessing a dictionary

In [ ]:
studentIds = {'joe': 42.0, 'mary': 56.0}
print (studentIds)

print(studentIds['mary']) # accessing the item with key 'mary'

studentIds['mary'] = 100  # modifying the item with key 'mary'

print(studentIds)

The keys and values in dictionary can be retrived with the `keys` and `values` functions respectively. The function `items` returns keys and values as tuples.

In [ ]:
print(studentIds.keys())
print(studentIds.values())
print(studentIds.items())

The objects returned by `keys`, `values`, and `items` are iterable.

In [ ]:
for k, v in studentIds.items():
    print(k, v)

### Adding a dictionary item

An key that does not already exists in a dictionary is automatically added when its value is set.

In [ ]:
studentIds['ali'] = 92.0
studentIds

The values of a dictionary can be of different types.

In [ ]:
studentIds['joe'] = 'forty-two'         # string type
print(studentIds)

studentIds['ali'] = [42.0, 'forty-two']  # list type
print(studentIds)

### Dictionary key existence

To check if a dictionary key exists, use the `in` operator.

In [ ]:
'joe' in studentIds.keys()

### Removing an item from dictionary

Recall that we used the `del` operator to remove a variable of a given name. The operator also lets us remove a dictionary item by its key. A `KeyError` is thrown if the key does not exist in the dictionary.

In [ ]:
del studentIds['joe']
studentIds

As with nested lists, you can also create dictionaries of dictionaries.

# Section 4: Advanced constructs
Python allows many advanced constructs. In this section we discuss
- List comprehension
- Function as variable

## List comprehension
List comprehension provides a concise way to operate on a list to create a new list.

Suppose you want to create a list of squares. You might do this with a `for` loop:

In [ ]:
nums = [1, 3, 5, 7, 11, 13, 17]
squares = []
for n in nums:
    squares.append(n**2)
squares

With list comprehension, you can write the same loop more concisely:

In [ ]:
nums = [1, 3, 5, 7, 11, 13, 17]
squares2 = [x**2 for x in nums]
squares2

You can also do filtering on the items that you want to operate on. Let's say we want to extract only odd numbers from  a list and then multiply all of them by 100:

In [ ]:
nums = list(range(7))
result = [x*100 for x in nums if x % 2 == 1]
result

One very convenient use of list comprehension is in generating pairwise combinations.

In [ ]:
items = ['A', 'B', 'C', 'D']
pairs = [(x, y) for x in items for y in items if x < y]
pairs

Together with functions such as `zip` and `enumerate`, list comprehension allows us to accomplish in a single line some complex operations.

The use of `zip` has been demonstrated in the construction of dictionary. Here, we show how `enumerate` allows us to easily obtain the indices of the elements in a list which fulfills a given condition.

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
where_odd = [i for (i, y) in enumerate(nums) if y % 2 == 1]
where_odd

## Function as variable
Functions can be assigned to variables as well as passed as parameters to other functions in Python (similar to function pointers in C/C++).

For instance, Python has an in-built sort function called `sorted` which has the capability to sort a list of **objects** (as opposed to primitive values). The function accepts another function as one of its input parameters -- the input function informs `sorted` on how to compute the values to use for sorting.

In this example, we use `sorted` to sort a list of strings by their last two characters.

In [ ]:
def last2chars(str):
    return str[-2:]

strings = ["xfile05", "yfile02", "zfile01", "wfile06", "vfile03"]

sorted(strings, key=last2chars)

Python allows the definition of unnamed functions through the `lambda` keyword. Using the `lambda`, the above codes can be rewritten as:

In [ ]:
sorted(strings, key=lambda x: x[-2:])

Together with the `map` and `filter` function, the use of the `lambda` keyword allows us to write concise codes that operate on lists to create new lists. 
This provides an alternative to list comprehension.

For instance, we can create a list which consists of the squared values of another list as follows.

In [ ]:
nums = [1, 3, 5, 7, 11, 13, 17]
squares2 = list(map(lambda x: x**2, nums))  # same as "squares2 = [x**2 for x in nums]"
squares2

We can similarly filter out values from another list as follows.

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
result = list(map(lambda x: x*100, filter(lambda x: x % 2 == 1, nums)))
                                            # same as "[x*100 for x in nums if x%2==1]"
result

However, in such cases, the list comprehension way appears to be clearer, and is the preferred method to the creator of Python, Guido Rossum.

# Section 5: NumPy

The library module called NumPy is an indispensible part of Python. The module provides an `numpy.ndarray` data structure which has some powerful features. It naturally supports multidimensional arrays, and provides simpe calls for

*   Initialization,
*   Save/load data (on disk),
*   Filtering, 
*   Search, and
*   Matrix operations.

NumPy is also the foundation for SciPy and Scikit-learn, two important libraries for scientific computation.

## Initialization

One common way to create a `ndarray` is from a given list (or tuple, or range). To do so, use the function `numpy.array`. Do not use the constructor of the `numpy.ndarray` class.

In [ ]:
import numpy as np

alist = np.array([1, 2, 3, 4, 5])
print("alist:", alist)

print()
blist = np.array((1, 2, 3, 4, 5))   # same as the above but with tuple instead of list
print("blist:", blist)

print()
clist = np.array(range(1, 6))       # same as the above but with range
print("clist:", clist)

print()
amatrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print("amatrix:")
print(amatrix)

However, the creation of `ndarray` from lists becomes complicated very quickly beyond 2-D arrays.

Another common way to create `ndarray` is to use the functions `zeros`, `ones`, etc provided in NumPy. It is easier to create arrays of higher than 2 dimensions with these functions.

In [ ]:
bmatrix = np.zeros((4, 4), dtype=np.float64)
print("\n4x4 matrix initialized to zero:")
print(bmatrix)

np.fill_diagonal(bmatrix, 1)
print("\n4x4 matrix with diagonal filled with ones:")
print(bmatrix)

cmatrix = np.ones((2, 2, 2), dtype=np.float64)
print("\n2x2x2 matrix initialized to ones:")
print(cmatrix)

rand_matrix = np.random.random((4, 6))
print("\n4x6 matrix with randomized values:")
print(rand_matrix)

The function `genfromtxt` allows us to **load 1-D or 2-D matrix from a text file**. Similarly, a function called `savetxt` lets us save a 1-D or 2-D `ndarray` to a text file. _**Be careful,**_ `savetxt` _**will overwrite existing files.**_

In [ ]:
np.savetxt("rand_matrix.csv", rand_matrix, delimiter=',')     # save rand_matrix to file
rand_matrix = np.genfromtxt("rand_matrix.csv", delimiter=',') # load from file

One caveat about loading a matrix from a text file is that the loaded elements may be of multiple data types such as `string`, `float`, and `int`, resulting in an array of mixed types. Hence it is good practice to examine a matrix loaded from file to determine its data types and extract only the elements of the same type if necessary. 

NumPy also has a function called `save` to **save an** `ndarray` **in binary format** to a file. The saved file will have the extension "**.npy**". Similarly, the function `load` lets us restore the `ndarray` from such a file. These functions work with `ndarray` of any dimension. _**Be careful,**_ `save` _**will overwrite existing files.**_

In [ ]:
np.save("rand_matrix", rand_matrix)          # save rand_matrix to binary file
rand_matrix = np.load('rand_matrix.npy')     # load from binary file

At this point you might want to list your present working directory to look at the available files. This can be done through the `os` package.

In [ ]:
import os
print("Current Working Directory:", os.getcwd())
print("Files:")
for file in os.listdir():
    if file.endswith(('.npy', '.ipynb', '.py', '.csv')):  # show only these files
        print(file)

The **dimensions of an** `ndarray` **can be obtained with its** `shape`. On the other hand, `len` will return the size of the first dimension.

In [ ]:
print("alist =", alist)
print("Dimensions of alist:", alist.shape)
print("Length of alist:", len(alist))
print()
print("cmatrix =\n", cmatrix)
print("Dimensions of cmatrix:", cmatrix.shape)
print("Number of dimensions of cmatrix:", len(cmatrix.shape)) # number of dimensions
print("Length of first dimension of cmatrix:", len(cmatrix))  # length of first dimension

## Accessing and filtering `ndarray` elements

There are four main methods to access array elements through their indices
1. Basic indexing
2. Slice indexing
3. **Integer (array) indexing**, and
4. **Boolean indexing**

First of all, you can access an array/matrix element through its **index** in the array/matrix, or access an entire slice of elements through **slice indexing**, which we have seen working in lists.

In [ ]:
print("alist =", alist)
print("alist[1] =", alist[1])          # reference the second element in alist

print()
print("amatrix =\n", amatrix)
print("amatrix[1,2] =", amatrix[1,2])  # reference the element (1,2) of amatrix

print()
print("alist =", alist)
print("alist[:3] =", alist[:3])        # reference elements 0 to 2 in alist

print()
print("rand_matrix =\n", rand_matrix)
print("rand_matrix[-2:,-2:] =\n", rand_matrix[-2:,-2:]) # last 2 rows+cols of rand_matrix

### Integer indexing
You can furthermore access array elements with a list of indices, e.g. `[0, 2]`. This syntax, called **integer indexing**, does not work with lists, although you can use list comprehension to achieve the same effect.

In [ ]:
print("alist =", alist)
print("alist[[0, 2]] =", alist[[0, 2]])           # first and third element of alist
print()
print("bmatrix =\n", bmatrix)
print("bmatrix[[0,-1],:] =\n", bmatrix[[0,-1],:])  # first and last row of bmatrix

To show that this is not possible with lists, let's create a list from the NumPy array and perform the same on the list.

In [ ]:
blist = list(alist)
blist[[0, 2]]

A little less convenient, but list comprehension allows us to achieve the same effect.

In [ ]:
[blist[i] for i in [0, 2]]

### Boolean indexing

Finally, `ndarray` elements can also be accessed by filtering out only the elements that we want with a matrix of Boolean elements. This is akin to creating a view of the `ndarray` through the application of a mask. The following example demonstrates this mechanism.

In [ ]:
rand_matrix = np.random.random((2, 2))
print("rand_matrix =\n", rand_matrix)
mask = np.array([[False, True], [True, False]]) # obtain only elements (0, 1) and (1, 0)
print("mask =\n", mask)
print()
print("filtered elements =", rand_matrix[mask])

## Search functions

Boolean indexing (and integer indexing) gives us a mechanism to filter `ndarray` elements. This filtering mechanism becomes more powerful when combined with search functionalities.

The simplest search function in `ndarray` is a simple conditional expression, which returns a Boolean matrix.

In [ ]:
rand_matrix = np.random.random((4, 4))
print("rand_matrix =\n", rand_matrix)
print()
print("rand_matrix > 0.5 =")
print(rand_matrix > 0.5)  # returns a mask that shows only the elements larger than 0.5

The Boolean matrix can be used to filter out elements in the `ndarray` to produce an array of only the elements that are `True` in the Boolean matrix.

In [ ]:
rand_matrix[rand_matrix > 0.5]

They can also be used to manipulate the values in the `ndarray`

In [ ]:
rand_matrix = np.random.random((4, 4))
print("Original matrix =")
print(rand_matrix)
print()
rand_matrix[rand_matrix > 0.5] = 1   # set to a constant value
print("Set elements > 0.5 to 1 =")
print(rand_matrix)
print()
rand_matrix = np.random.random((4, 4)) - 0.5  # -0.5 will subtract 0.5 from each element
print("Original matrix =")
print(rand_matrix)
print()
rand_matrix_negated = -rand_matrix
rand_matrix[rand_matrix < 0] = rand_matrix_negated[rand_matrix < 0]
print("Set elements < 0 to their negations =")
print(rand_matrix)

The bitwise operators `&` and `|` are able to operate on two `ndarray` of the same shape. This allows the conjuction of Boolean masks to form complex searches, as shown in the example below. In the example, we use the function `isin`  which examines each element of the input `ndarray` to see if they are in a given list.

In [ ]:
alist = np.array(range(100))
print("Numbers < 100 that are divisible by 9 and is the square of some number")
mask = (alist % 9 == 0) & (np.isin(alist, [x*x for x in range(10)]))
print(alist[mask])
print()
print("Numbers < 100 that are divisible by 9 or is the square of some number")
mask = (alist % 9 == 0) | (np.isin(alist, [x*x for x in range(10)]))
print(alist[mask])

It is also possible to find the indices of the elements in an `ndarray` that fulfill a given condition. This can be done using the `where` function.

In [ ]:
rand_matrix = np.random.random((4, 4))
print("rand_matrix =\n", rand_matrix)
indices = np.where(rand_matrix > 0.5)  # indices of elements larger than 0.5
print()
print("output of np.where():")
indices

Since `rand_matrix` is a 2-D array, `where` returned two lists. Together, the lists give the indices of the matched elements.

In [ ]:
print("All elements larger than 0.5")
for i, j in zip(indices[0], indices[1]):
    print("rand_matrix[{},{}] = {}".format(i, j, rand_matrix[i, j]))

The output of `where` can be directly used for integer indexing.

In [ ]:
rand_matrix[indices]

## Common `ndarray` analysis

We have seen how elements of `ndarray` can be searched. This search mechanism becomes more powerful when combined with functions that examine the values in an `ndarray`.

As an example, the `sum` function allows us to sum up the elements in a matrix. Combined with search, this can be used to count the number of elements that fulfill a given condition, like in the following.

In [ ]:
rand_matrix = np.random.random((4, 4))
print("rand_matrix =\n", rand_matrix)
print()
print("number of elements > 0.5 =", (rand_matrix > 0.5).sum())

If we are interested in counting only in a specific dimension, we can specify that dimension in the `axis` parameter. For example, `axis=0` would count along the first dimension.

In [ ]:
print("rand_matrix =\n", rand_matrix)
print()
print("number of elements > 0.5 of each column =\n", (rand_matrix > 0.5).sum(axis=0))

NumPy provides many functions that work similarly to `sum`. For example, `mean`, `std`, `var`, `min`, `max`, `median`, `percentile`, etc.

In [ ]:
print("column mean =", rand_matrix.mean(axis=0))    # show the mean for each column
print("column max =", rand_matrix.max(axis=0))      # show the max for each column
print("column min =", rand_matrix.min(axis=0))      # show the min for each column
print("column stdev =", rand_matrix.std(axis=0))    # show the stdev for each column

One pitfall in the use of these functions is the possible existence of NaN (Not a Number) values, which often appear in real-world datasets due to missing or corrupted datapoints. In some situations, such NaN values may lead to incorrect output.

In [ ]:
rand_matrix = np.random.random((4, 4))
rand_matrix[[1,3],2:4] = np.nan                # set a few elements to NaN
print("rand_matrix =\n", rand_matrix)
print()
print("rand_matrix max =", rand_matrix.max())  # this will fail to find max of rand_matrix
print("column max =", rand_matrix.max(axis=0)) # and this will fail on the columns with NaN

To isolate NaN values, one can use a filter to exclude them with `isnan`.

In [ ]:
mask = (~np.isnan(rand_matrix))
rand_matrix[mask].max()              # this will be able to find max of rand_matrix again

However, the matrix obtained with the mask no longer preserves the structure of its original structure, and hence `axis=0` will no longer work. To address this problem, there are versions of the functions `sum`, `mean`, `max`, etc, which take into account NaN values. They are called `nansum`, `nanmean`, `nanmax`, etc.

In [ ]:
print("column mean =", np.nanmean(rand_matrix, axis=0))    # show the mean for each column
print("column max =", np.nanmax(rand_matrix, axis=0))      # show the max for each column
print("column min =", np.nanmin(rand_matrix, axis=0))      # show the min for each column
print("column stdev =", np.nanstd(rand_matrix, axis=0))    # show the stdev for each column

## Operations on `ndarray`

Many arithmatic operations that work on numeric values will similarly work on `ndarray`.

In [ ]:
A = np.array([[1, 2, 3], [4, 5, 6]])
B = np.array([[6, 5, 4], [3, 2, 1]])
print(A + B)    # sums up amatrix and bmatrix element-wise
print()
print(A - B)    # subtract bmatrix from bmatrix element-wise
print()
print(A * B)    # multiplies amatrix and bmatrix element-wise
print()
print(A / B)    # divides amatrix with bmatrix element-wise

The functions `add`, `subtract`, `multiply`, and `divide` performs the same things.

In [ ]:
print(np.add(A, B))         # sums up amatrix and bmatrix element-wise
print()
print(np.subtract(A, B))    # subtract bmatrix from bmatrix element-wise
print()
print(np.multiply(A, B))    # multiplies amatrix and bmatrix element-wise
print()
print(np.divide(A, B))      # divides amatrix with bmatrix element-wise

The binary arithmetic operations behave differently when the two input matrices are of different shapes. The mechanism involved is called **broadcasting**, and is beyond the scope of this tutorial.

In [ ]:
A = np.array([[1, 2, 3], [4, 5, 6]])

B = np.array([1, 1, 3])
print(A + B)   # Broadcasting: add B[i] to each element of A[:,i]
print()
B = np.array([[1], [2]])
print(A + B)   # Broadcasting: add B[i,0] to each element of A[i,:]

NumPy provides mathematical functions that will operate on each element of an `ndarray`. They include functions that are in the `math` package, like `sqrt`, `log`, `exp`, etc, as well as functions that are not, like `square`.

In [ ]:
print(np.sqrt(A))
print(np.exp(-np.square(A)))

NumPy also provides a few functions for linear algebra such as matrix multiplication and transpose.

In [ ]:
# array multiplication
print(np.dot(np.array([1, 2, 3]), np.array([3, 2, 1])))

# matrix multiplication
A = np.ones((2, 3))
print(np.dot(A, A.T))  # A.T or A.transpose() will both return the transpose of A

### Merging and splitting matrices

Datasets are often presented in the form of matrices, where each row represents a datapoint, and each column represents a feature in the feature space. In such a setup, the merging of two datasets would be equivlane to stacking one `ndarray` on top of another. The function `vstack` lets us perform such a task.

In [ ]:
A = np.array([[1, 2, 3], [4, 5, 6]])
B = np.array([[6, 5, 4], [3, 2, 1]])
np.vstack((A, B))

Similarly, `hstack` allows us to stack two `ndarray` side-by-side.

In [ ]:
C = np.hstack((A, B))
C

To split up a matrix at a given index, use `split`.

In [ ]:
np.split(C, 2, axis=1)

Finally, one can extract a submatrix by specifying the rows and columns to extract.

In [ ]:
D = np.vstack((C, C))   # construct a larger matrix first
print(D)
D[np.ix_([0, 1], [3])]  # submatrix formed by the rows 0-1 and col 3 of D
D[[0, 1],:][:,[3]]      # or this way

## Mixed-type `ndarray`

The elements of an `ndarray` can be of any type, as long as every element in a `ndarray` are of the same type. However, `ndarray` of mixed types are still possible. For example:

In [ ]:
tuples_of_mixed_types = [(i, str(i)) for i in range(3)]

# failed attempt
mixed_type_matrix = np.array(tuples_of_mixed_types)
print(mixed_type_matrix)
print(type(mixed_type_matrix[0,0]), type(mixed_type_matrix[0,1]))
print()

# successful attempt
mixed_type_matrix = np.array(tuples_of_mixed_types, dtype=object) # specify type as object
print(mixed_type_matrix)
print(type(mixed_type_matrix[0,0]), type(mixed_type_matrix[0,1]))

Mixed type `ndarray` is, however, beyond the scope of this tutorial. It suffices that we know that they exist for the time being (so that we do not get a shock when we see them).

# Closing remarks

This tutorial has barely scratched the surface of all the features in Python. As mentioned in the tutorial, mixed-type `ndarray` and _broadcasting_ are beyond the scope of this tutorial. Other important topics, such as OOP classes, file IO, and error propagation have also not been covered. The very useful visualization library `matplotlib` has as well been left out of this tutorial. You are strongly encouraged to go through the following, slightly more complete, tutorials.

- https://docs.python.org/3/tutorial/index.html
- http://cs231n.github.io/python-numpy-tutorial/